
/*************************************************************/

.image-slider {
    position: relative;
    max-width: 48rem;
    margin: 2rem auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 2.5);
}
.slider:hover {
    transition: 0.5s ease;
    box-shadow: 0 2rem 2rem rgba(175, 175, 255, 0.87);
}
.slider img {
    scroll-snap-align: start;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

/*---------------------------------------------------------------------*/

.content-box {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
}
.petacc-box {
    position: relative;
    width: 450px;
    height: 251px;
    border-radius: 10px;
    box-shadow: 0 3px 0 rgba(175, 175, 175, 0.87);
    background: #DBDBDB;
}
.status-box {
    position: relative;
    width: 450px;
    height: 251px;
    border-radius: 10px;
    box-shadow: 0 3px 0 rgba(175, 175, 175, 0.87);
    background: #DBDBDB;
}
.path {
    position: absolute;
    width: 450px;
    height: 84px;
    border-radius: 10px;
    background: #3B7097;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
}
.path a {
    color: #fff;
    text-decoration: none;
}
.path a:hover {
    color: #dbdbdb;
    transition: 0.5s;
    text-shadow: 0 0 50px rgba(175, 175, 175, 0.87);
}

.turnback a {
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
}
.turnback a:hover {
    transition: 0.5;
    text-shadow: 0 0 2rem #dbdbdb;
}